<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>My really cool to-do app</h1>

{% if user.is_authenticated %}
    Welcome, {{ user.username }}!
{% else %}
    Welcome, Guest!
{% endif %}
{% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Sign Out">
    </form>
{% endif %}

<h2>List of tasks:</h2>
{% for task in tasks %}
    <hr>
        <h3>
        {% if task.completed %}
            <s>{{ task.description }}</s>
        {% else %}
            {{ task.description }}
        {% endif %}
        </h3>
        <div>Due: {{task.due_date}}</div>
        {% if task.due_soon %}
        Due soon! Get er done!
        {% endif %}
{% endfor %}
<hr>

<form method="post" action="{% url 'create_task' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Task</button>
</form>

</body>
</html>